@model Contoso.WebApi.Data.Tbl_DimRoom

@{

    bool ShowButtons = true;
    if (ViewBag.Message != null && ViewBag.Message != string.Empty) { ShowButtons = false; }
}

<div style="padding: 20px;">
    <div class="tdTitleCell"><h2>@ViewBag.Title</h2></div>
    <h3>Are you sure you want to delete this?</h3>
    @Html.Partial("_ReadOnlyView", Model)
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (ShowButtons)
        {
            <div class="tdButtonCell">
                <table>
                    <tr>
                        <td class="editor-field"><input type="submit" class="btn btn-primary" value="Delete" /></td>
                        <td class="editor-field"><input type="button" class="btn btn-default" value="Cancel" onclick="window.location.href='@Url.Action("Index")';" /></td>
                    </tr>
                </table>
            </div>
        }
        else
        { 
            <div class="tdButtonCell">
                <span style="color: Red; font-weight: bold;">@ViewBag.Message</span>
            </div>
        }
    }
</div>
